.bgc{
    text-align: left;
    background: rgb(44,62,80);
    background: linear-gradient(90deg, rgba(44,62,80,1) 0%, rgba(0,0,0,1) 100%);
}

 .imgWidth{
    width:180px;
 }

 .widthOfSearch{
    width:520px;
 }

 .suggestions{
    display: flex;
    flex-direction: column;
    width:520px;
    height:120px;
    overflow-y: auto;
 }

 .inputField{
    cursor: pointer;
    font-size: 1rem;
    color:white;
 }
.inputField:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}

@media (max-width :450px){
    .widthOfSearch{
        width:300px;
    }
    .suggestions{
        width:300px;
    }
}
