.mainBody{
    /* color:rgb(19, 23, 59); */
    min-width: 100vw;
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    text-align: center;
}
